# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pycharmprojects\django_Fashion_mnist_ML_Deploy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
